<div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title">Algunos elementos de la colección</h5>

        <div class="pdf-container-wrapper">
            <div class="pdf-container">
                {% include feature/pdf.html objectid="agn_sr_gym_328_83_86" width="50" %}
            </div>

            <div class="pdf-container">
                <!-- Include another PDF reader here with its own parameters -->
                {% include feature/pdf.html objectid="another_object_id" width="50" %}
            </div>
        </div>
    </div>
</div>

